<footer>
    <a href="#" class="footer__logo">GY</a>
    <ul class="permalinks">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Projects</a></li>
        <li><a href="#contact">Contacts</a></li>
    </ul>
    <ul class="permalinks">
        <li>
            <div class="footer__socials">
                <a href="mailto:yadavgaurav2107@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
            </div>
        </li>
        <li>
            <div class="footer__socials">
                <a href="https://www.linkedin.com/in/yadav-gaurav-a10p"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
        </li>
        <li>
            <div class="footer__socials">
                <a href="https://github.com/G-Yadav"><i class="fa fa-github-square" aria-hidden="true"></i></a>
            </div>
        </li>
        <li>
            <div class="footer__socials">
                <a href="https://t.me/mackL0v"><i class="fa fa-telegram" aria-hidden="true"></i></a>
            </div>
        </li>
        <li>
            <div class="footer__socials">
                <a href="https://instagram.com/gaurav__yadav00"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </li>
    </ul>

    <div class="footer__copyright">
        <small>&copy;MackLov</small>
    </div>
</footer>
