<section id="about">
    <h5>Get To Know</h5>
    <h2>About Me</h2>
    <div class="container about__container">
        <div class="about__me">
            <div class="about__me-image">
                <img src="./assets/me-about.png" alt="About Image">
            </div>
        </div>
        <div class="about__content">
            <div class="about__cards">
                <article class="about__card">
                    <i class="fa fa-suitcase about__icon" aria-hidden="true"></i>
                    <h5>Experience</h5>
                    <small>2+ Years Working</small>
                </article>
                
                <article class="about__card">
                    <i class="fa fa-folder about__icon" aria-hidden="true"></i>
                    <h5>Projects</h5>
                    <small>3+ Completed</small>
                </article>
            </div>
            <p>
                I am an enthusiastic learner with an avid interest in all the latest technologies and skills. A passionate cloud developer with great love for solving complex problems in scalable ways. My hobbies are listening to music, playing volleyball
            </p>
            <a href="#contact" class="btn btn-primary">Let's Talk</a>
        </div>
    </div>
</section>
