<section id="contact">
    <h5>Get In Touch</h5>
    <h2>Contact Me</h2>
    <div class="container contact__container">
        <div class="contact__options">
            <article class="contact__option">
                <i class="fa fa-envelope contact__option-icon" aria-hidden="true"></i>
                <h4>Email</h4>
                <h5>yadavgaurav2107&#64;gmail.com</h5>
                <a href="mailto:yadavgaurav2107@gmail.com" target="_blank">Send a message</a>
            </article>
            <article class="contact__option">
                <i class="fa fa-linkedin-square contact__option-icon" aria-hidden="true"></i>
                <h4>LinkedIn</h4>
                <h5></h5>
                <a href="https://www.linkedin.com/in/yadav-gaurav-a10p" target="_blank">Send a message</a>
            </article>
            <article class="contact__option">
                <i class="fa fa-telegram contact__option-icon" aria-hidden="true"></i>
                <h4>Telegram</h4>
                <h5>&#64;mackL0v</h5>
                <a href="https://t.me/mackL0v" target="_blank">Send a message</a>
            </article>
            <article class="contact__option">
                <i class="fa fa-instagram contact__option-icon" aria-hidden="true"></i>
                <h4>Instagram</h4>
                <h5>&#64;gaurav__yadav00</h5>
                <a href="https://instagram.com/gaurav__yadav00" target="_blank">Send a message</a>
            </article>
        </div>
    </div>
</section>
