<div class="header__socials">
    <a href="https://www.linkedin.com/in/yadav-gaurav-a10p" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/G-Yadav" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://t.me/mackL0v" target="_blank">
        <i class="fa fa-telegram" aria-hidden="true"></i>
    </a>
    <a href="https://instagram.com/gaurav__yadav00" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>
