<section id="skills">
    <h5>What I Know</h5>
    <h2>Skills</h2>
    <div class="container skills__container">
        <article class="skill">
            <div class="skill__head">
                <h3>Languages</h3>
            </div>
            <ul class="skill__list">
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>C#</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>C++</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>C</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>JavaScript</p>
                </li>
            </ul>
        </article>

        <article class="skill">
            <div class="skill__head">
                <h3>Additional Tools</h3>
            </div>
            <ul class="skill__list">
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Azure Cloud Fundamentals</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>AutoSys Workload Automation</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Power BI</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>SQL Server Integration Service</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Jenkins</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>VMware Tanzu</p>
                </li>
            </ul>
        </article>

        <article class="skill">
            <div class="skill__head">
                <h3>Others</h3>
            </div>
            <ul class="skill__list">
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Data Structures & Algorithms</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Problem Solving</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>Git</p>
                </li>
                <li>
                    <i class="fa fa-check skill__list__icon" aria-hidden="true"></i>
                    <p>CI/CD</p>
                </li>
            </ul>
        </article>
    </div>
</section>
